@using Dblp.WebUi.Helpers
@{
    ViewBag.Title = "Durchsuchen der Dblp";
}

<h2>Durchsuchen der DBLP</h2>
@using (Html.BeginForm("AddItem", "ShoppingCart"))
{
    @Html.InputWithGlyphicon()
    @Html.Hidden("dblpKey")
    <input type="submit" value="Hinzufügen" />
}

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/Scripts/site.js")"></script>
}