@{
    ViewBag.Title = "Über GetTheBibTeX";
}

<h2>Über Get The BibTeX</h2>
<p>
    GetTheBibTeX bietet die Möglichkeit sich BibTeX-Dateien generieren zu lassen, die komplette Konferenzen beinhalten. Die zugrunde liegenden Daten kommen aus der <a href="http://dblp.uni-trier.de/db/">DBLP</a>, ein Projekt der Uni Trier. Die DBLP ist die definitive Anlaufstellen für bibliographische Daten über Computer Science Veröffentlichungen.
</p>
<p>
    Dieses Projekt ist in ASP.NET MVC 5 geschrieben und nutzt eine MSSQL Datenbank zum vorhalten der Daten. Das Projekt ist Open-Source und kann auf GitHub eingesehen und geforked werden (siehe "Genutzte Ressourcen").
</p>

<p>Diese Web-Anwendung ist im Rahmen des Moduls Independent Coursework 1 an der <a href="http://www.htw-berlin.de/">Hochschule für Technik und Wirtschaft Berlin</a> entstanden. Ziel dieses Moduls ist es, durch die Erstellung eines Produktes selbstständig ein Fachgebiet zu erarbeiten. Um meine Kenntnisse in .Net im allgemeinen (und ASP.NET MVC im speziellen) zu vertiefen, habe ich dieses Projekt gewählt.</p>
<h2>Über mich</h2>
<p>
    Mein Name ist Torben Dohrn. Ich bin Master Student der Angewandten Informatik an der HTW Berlin und programmiere im .Net Bereich. 
</p>

<h2>Genutzte Resourcen</h2>
<ul>
    <li>
        Bootstrap: <a href="http://getBootstrap.com/">getbootstrap.com</a> Das CSS Framework

    </li>
    <li>
        Glyphicons: <a href="http://glyphicons.com/">glyphicons.com</a> Das kleine Warenkorb Symbol

    </li>
    <li>
        DBLP: <a href="http://dblp.uni-trier.de/db/">Uni Trier</a> Die Daten
    </li>
    <li>
        GitHub: <a href="https://github.com/Nexusger/GetTheBibTeX2">GitHub.com</a> Das Hosten des Codes
    </li>
    <li>
        Knockout: <a href="http://knockoutjs.com/">Knockout</a> MVVM Binding für die Tabelle
    </li>
    <li>
        Typeahead: <a href="https://twitter.github.io/typeahead.js/">Typeahead.js</a> Die Auto-Complete Funktion der Suche
    </li>
    <li>
        Spiffygif: <a href="http://spiffygif.com">SpiffyGif</a> Die Lade-Animation
    </li>
</ul>