@{
    ViewBag.Title = "Index";
}
<h2>Über Get The BibTex</h2>
<img src="http://baconmockup.com/200/300" alt="A nice Image of Bacon" class="img-rounded" style="float: left; padding-right: 0.9em;" />
<p>Bacon ipsum dolor amet prosciutto shank pork belly pig, tongue hamburger spare ribs porchetta meatloaf corned beef. Picanha jowl hamburger, beef ham hock frankfurter pork loin cow prosciutto kielbasa pancetta. Fatback pork chop frankfurter beef kevin. Salami alcatra biltong capicola pork chop meatball chicken frankfurter. Short ribs hamburger shoulder tongue. Strip steak kielbasa venison tri-tip pork belly. Drumstick picanha sirloin jowl boudin pork belly spare ribs bacon chicken tri-tip porchetta ribeye shank short ribs andouille.</p>
<p>
    Venison short loin meatball short ribs meatloaf rump shankle landjaeger, chicken chuck prosciutto pork loin ribeye. Pancetta ham frankfurter, beef ribs chuck brisket alcatra pig biltong. Alcatra bacon rump leberkas strip steak, salami beef ribs tail. Pork loin biltong pastrami venison spare ribs, capicola ham hock prosciutto brisket chicken flank.
</p>
<p>
    Picanha pastrami tongue, tail pig ribeye landjaeger meatball. Andouille short ribs hamburger kevin shoulder doner turducken, pork chop pancetta ham hock chuck pork. Shoulder strip steak t-bone pastrami. Chicken pork picanha biltong. T-bone landjaeger chuck bacon, pork chop turkey beef ribs pastrami ground round strip steak short ribs meatball alcatra.
</p>

<p>Frankfurter bacon kielbasa, strip steak jerky hamburger pancetta brisket. Andouille cow ham cupim, pork chop ham hock pastrami. Ham hock t-bone andouille ball tip bresaola. Andouille t-bone biltong, venison capicola pig beef ribs salami spare ribs pork belly swine ham hamburger tongue.</p>
<p>
    Bacon ipsum dolor amet prosciutto shank pork belly pig, tongue hamburger spare ribs porchetta meatloaf corned beef. Picanha jowl hamburger, beef ham hock frankfurter pork loin cow prosciutto kielbasa pancetta. Fatback pork chop frankfurter beef kevin. Salami alcatra biltong capicola pork chop meatball chicken frankfurter. Short ribs hamburger shoulder tongue. Strip steak kielbasa venison tri-tip pork belly. Drumstick picanha sirloin jowl boudin pork belly spare ribs bacon chicken tri-tip porchetta ribeye shank short ribs andouille.
</p>
<p>
    Venison short loin meatball short ribs meatloaf rump shankle landjaeger, chicken chuck prosciutto pork loin ribeye. Pancetta ham frankfurter, beef ribs chuck brisket alcatra pig biltong. Alcatra bacon rump leberkas strip steak, salami beef ribs tail. Pork loin biltong pastrami venison spare ribs, capicola ham hock prosciutto brisket chicken flank.
</p>
<p>
    Picanha pastrami tongue, tail pig ribeye landjaeger meatball. Andouille short ribs hamburger kevin shoulder doner turducken, pork chop pancetta ham hock chuck pork. Shoulder strip steak t-bone pastrami. Chicken pork picanha biltong. T-bone landjaeger chuck bacon, pork chop turkey beef ribs pastrami ground round strip steak short ribs meatball alcatra.
</p>

<p>Frankfurter bacon kielbasa, strip steak jerky hamburger pancetta brisket. Andouille cow ham cupim, pork chop ham hock pastrami. Ham hock t-bone andouille ball tip bresaola. Andouille t-bone biltong, venison capicola pig beef ribs salami spare ribs pork belly swine ham hamburger tongue.</p>
<h2>Genutzte Resourcen</h2>
<p>Bootstrap: <a href="http://getBootstrap.com/">getbootstrap.com</a> Das Design und alles</p>
<p>Glyphicons: <a href="http://glyphicons.com/">glyphicons.com</a> Das kleine Warenkorb Symbol</p>
<p>dblp: <a href="http://www.informatik.uni-trier.de/~ley/db/">Uni Trier</a> Die Daten</p>



