@{
    ViewBag.Title = "Index";
}

<h2>Über Get The BibTex</h2>
<p>GetTheBibTeX ist im Rahmen des Moduls Independent Coursework an der <a href="http://www.htw-berlin.de/">Hochschule für Technik und Wirtschaft Berlin</a> entstanden. Ziel des Moduls ist es,  durch die Erstellung eines Produktes selbstständig ein Fachgebiet zu erarbeiten.</p>
<p>
    GetTheBibTeX bietet die Möglichkeit sich BibTeX-Dateien generieren zu lassen, die komplette Konferenzen beinhalten. Die zugrunde liegenden Daten kommen aus der <a href="http://www.informatik.uni-trier.de/~ley/db/">DBLP</a>, ein Projekt der Uni Trier. Die DBLP ist die definitive Anlaufstellen für bibliographische Daten über Computer Science Veröffentlichungen.
</p>
<p>
    Das ganze Projekt ist komplett in ASP.NET MVC 5 geschrieben und nutzt eine MSSQL Datenbank zum vorhalten der Daten. Das Projekt ist Open-Source und kann auf GitHub eingesehen und geforked werden.
</p>

<h2>Über mich</h2>
<p>
    Ich bin Student der Angewandten Informatik an der HTW Berlin und programmiere im .Net Bereich. GetTheBibTeX ist meine erste größere Anwendung und ich habe viel dabei gelernt.
</p>

<h2>Genutzte Resourcen</h2>
<ul>
    <li>
        Bootstrap: <a href="http://getBootstrap.com/">getbootstrap.com</a> Das Design und alles

    </li>
    <li>
        Glyphicons: <a href="http://glyphicons.com/">glyphicons.com</a> Das kleine Warenkorb Symbol

    </li>
    <li>
        DBLP: <a href="http://www.informatik.uni-trier.de/~ley/db/">Uni Trier</a> Die Daten
    </li>
    <li>
        GitHub: <a href="https://github.com/Nexusger/GetTheBibTeX2">GitHub.com</a> Das Hosten des Codes
    </li>
    <li>
        Knockout: <a href="http://knockoutjs.com/">Knockout</a> MVVM Binding für die Tabelle
    </li>
    <li>
        Typeahead: <a href="https://twitter.github.io/typeahead.js/">Twitter Typeahead.js</a>
    </li>
    <li>
        Spiffygif: <a href="http://spiffygif.com">SpiffyGif</a> Die Lade-Animation
    </li>
</ul>




